# Latex build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex
*.synctex.gz
*.m~
*~
*.bak

*.DS_Store
.DS_Store


*.pdf
=======
# A folder used for temp files not to be added
scratch/*

# Output PDF files
doc/PCRB.pdf
doc/Sigmoid_Functions.pdf
manuscript/manuscript.pdf
